.wrapper {
    text-align: center;
}
    .disclaimer {
        text-align: center;
        background-color: red;
    }
.Ascii{
    color: green;
    font-size: 150%;
    position: relative;
    right: 175px;
}
.AsciiTwo{
    color: green;
    position: relative;
    top: -125px;
    right: -400px;
    font-size: 150%;
}
.table{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: relative;
text-align: center;
width:40%; 
margin-left:15%; 
margin-right:15%; 

}
.titlez
{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: inherit;
text-align: center;
width:37.5%; 
margin-left:15%; 
margin-right:15%;
}
body{
    background-color: black;
    overflow-x: hidden;
}

.button:hover {
background: green;
text-decoration: none;
color: rgb(17, 15, 15);
border: black 3px;
border: solid green 3px; 
}

.refineButton:hover {
    background: green;
    text-decoration: none;
    color: rgb(17, 15, 15);
    border: black 3px;
    border: solid green 3px; 
    }

th{
       text-transform: capitalize;
       text-shadow: 3px 2px purple;
}
.pops {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: relative;
text-align:left;
width: inherit; 
margin-left:15%; 
margin-right:15%;
}

.queryPops{
    -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: relative;
text-align:center;
width: 75%; 
margin-left:15%; 
margin-right:15%;
}

.postClick:hover { 
    background: green;
    text-decoration: none;
    color: rgb(17, 15, 15);
    border: black 0px;
    border: solid green 0px; 
} 
.clickable:hover { 
    background: green;
    text-decoration: none;
    color: rgb(17, 15, 15);
    border: black 3px;
    padding: 15px 25px 15px 25px;
    border: solid green 3px; 
} 
tr{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
transition: 0.3s;
} 
.overlay {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: -50px;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  width: 80%;
  overflow-y: auto;
  

}
.overlay:target {
  visibility: visible;
  opacity: 1.0;
  /*overflow-y: hidden;*/
}

.posts{
display: block;
height: 30%;
overflow-y: scroll;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: relative;
text-align:left;
width: 75%; 
margin-left:15%; 
margin-right:15%;
}
 .pops .close{
     color: green;
 }

 .checkboxDiv
{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Arial;
color: #00FF00;
font-size: 20px;
background: #000000;
padding: 10px 20px 10px 20px;
border: dashed #00FF00 3px;
position: relative;
text-align: left;
margin-left:15%; 
margin-right:15%;
float: left;
border-radius: 3px;
height:45%;
overflow-x: scroll;
overflow-y: scroll;
display: block;
width:75%;

}
.checkbox{
    position: relative;
    top: 3px;
}
input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #00FF00;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: dashed #00FF00 3px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow-x:scroll;
    }

    .button {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #00FF00;
        font-size: 20px;
        background: #000000;
        padding: 10px 20px 10px 20px;
        border: dashed #00FF00 3px;
        transition: 0.1s;
        }

        .refineButton {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0px;
            font-family: Arial;
            color: #00FF00;
            font-size: 20px;
            background: #000000;
            padding: 10px 20px 10px 20px;
            border: dashed #00FF00 3px;
            transition: 0.1s;
            }

    .proceed {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #00FF00;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: dashed #00FF00 3px;
    transition: 0.2s;
    }
    
    .proceed:hover {
    background: green;
    text-decoration: none;
    color: rgb(17, 15, 15);
    border: black 3px;
    padding: 15px 25px 15px 25px;
    border: solid green 3px; 
    }

.popsClose{
    font-family: Arial;
    color: #00FF00;
    font-size: 20px;
    padding: 4px 8px 4px 8px;
    border: dashed #00FF00 3px;
    position: relative;
}
.popsClose:hover { 
    background: green;
    text-decoration: none;
    color: rgb(17, 15, 15);
    border: black 3px;
    border: solid green 3px; 
} 
/*.innerHeader{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #00FF00;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: dashed #00FF00 3px;
    position: relative;
    text-align:center;
    width: 65%;
    margin-left:15%; 
    margin-right:15%; 
}*/

.refineSubmit{
    direction: rtl;
    text-align: start;

}