<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>
        Main
    </title>
    
</head>
<body>
    <div class="wrapper">
        <pre class= "Ascii">
    ____  ____  ____      ____________________   _____ _   ______  ____  ____ 
   / __ \/ __ \/ __ \    / / ____/ ____/_  __/  / ___// | / / __ \/ __ \/ __ \
  / /_/ / /_/ / / / /_  / / __/ / /     / /     \__ \/  |/ / / / / / / / /_/ /
 / ____/ _, _/ /_/ / /_/ / /___/ /___  / /     ___/ / / | / /_/ / /_/ / ____/
/_/   /_/ |_|\____/\____/_____/\____/ /_/     /____/_/ |_/\____/\____/_/     
</pre>
<pre class="AsciiTwo">
        ,___.
        |-----|
        ============
       / |  OO  ~\
       (  )      0 )
        \_/-, ,-//-\\
      ====
       |||
      | ||
      -_/|
       | ||_
       (____))
      </pre>
    </div>
    <div >
        <h1 class="titlez">Welcome to the project!</h1>
    </div>
 <footer class="titlez">
    <p>Created By Ronald Van Erven, Osman Chewai and Taylor spinks.</p>
    <form action="/searchPage" method="POST">
    <button class="button">Proceed</button>
    </form>
</footer>

    </body>
